 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 655px;
}

.u-section-1 .u-form-1 {
  height: 377px;
  width: 478px;
  margin: 98px auto 60px;
}

.u-section-1 .u-input-1 {
  height: 52px;
}

.u-section-1 .u-input-2 {
  height: 52px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  border-style: solid;
  font-weight: 700;
  padding: 13px 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}