 .u-section-1 {
  background-image: url("images/a2.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 276px;
}

.u-section-1 .u-text-1 {
  margin: 76px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 79px;
  width: 1144px;
  margin: 63px -2px 22px;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 700;
  font-style: italic;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 9px 60px 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 355px;
}

.u-section-2 .u-list-1 {
  width: 1130px;
  margin: 18px auto 33px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 20px 20px;
  grid-template-columns: 100%;
  min-height: 304px;
}

.u-section-2 .u-list-item-1 {
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#fbeced, #f9e79b);
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: -32px auto 0 59px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-2 {
  background-image: none;
  margin: 17px auto 0 72px;
}

.u-section-2 .u-line-1 {
  width: 979px;
  transform-origin: right center 0px;
  margin: 16px 37px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: 5px 49px 0 auto;
}

.u-section-2 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: -25px 111px 0 auto;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#fbeced, #f9e79b);
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-icon-3 {
  width: 41px;
  height: 41px;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: -32px auto 0 59px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 17px auto 0 72px;
}

.u-section-2 .u-line-2 {
  width: 979px;
  transform-origin: left center 0px;
  margin: 16px 37px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 5px 49px 0 auto;
}

.u-section-2 .u-icon-4 {
  width: 28px;
  height: 28px;
  margin: -25px 111px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -33px;
  }

  .u-section-2 .u-line-1 {
    width: 852px;
    transform-origin: left center 0px;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: -33px;
  }

  .u-section-2 .u-line-2 {
    width: 852px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 700px;
  }

  .u-section-2 .u-line-2 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .u-section-2 .u-line-1 {
    width: 438px;
  }

  .u-section-2 .u-line-2 {
    width: 438px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 3px 2px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 67px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 15px;
    margin-right: 45px;
    margin-left: 66px;
  }

  .u-section-2 .u-line-1 {
    width: 246px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 12px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -23px;
    margin-right: 99px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 3px 2px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 67px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 15px;
    margin-right: 45px;
    margin-left: 66px;
  }

  .u-section-2 .u-line-2 {
    width: 246px;
    margin-top: 11px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 12px;
    margin-left: 243px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: -23px;
    margin-right: 99px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-list-item-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-list-item-1:before {
  background-image: linear-gradient(#f1b5b8, #f9e79b) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-list-item-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-list-item-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-list-item-2:before {
  background-image: linear-gradient(#f1b5b8, #f9e79b) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-list-item-2 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]),
.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]).u-block-7213-14:not([data-block-selected]):not([data-cell-selected]).u-block-7213-14:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]):before {
  background-image: linear-gradient(#e68387, #f5d654) !important;
}

.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]).u-block-7213-14:not([data-block-selected]):not([data-cell-selected]).u-block-7213-14:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-7213-14:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-7213-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-7213-14:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}